module.exports = {
  email: 'email@example.com',
  ipv6: true, // Set this to false if you are sure you don't use ipv6
  delay: 30, // Try to update every 30 minutes
  domains: {
    'example.com': 'username:password',
    '*.example.com': 'username:password',
    // ...
  },
};
